{% macro include(fileName) -%}
{% include fileName ignore missing -%}
{% endmacro -%}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
	<meta name="format-detection" content="telephone=no">
	<meta name="description" content="사이트 소개 320자 이내로 작성.">
	<meta name="keywords" content="키워드입력, 키워드2, 키워드3">
	<meta name="author" content="사이트명">
	<meta property="og:type" content="website">
	<meta property="og:title" content="해당 링크의 제목">
	<meta property="og:description" content="해당 링크 설명">
	<meta property="og:image" content="썸네일 이미지, http:// 부터 시작하는 절대 주소를 써야합니다.">
	<meta property="og:url" content="링크 주소">
	<meta name="twitter:card" content="photo">
	<meta name="twitter:url" content="사이트 주소">
	<meta name="twitter:description" content="사이트 소개.">
	<meta name="twitter:image" content="썸네일 이미지, http:// 부터 시작하는 절대 주소를 써야합니다.">
	<title>{{ pageTitle }} - 프로젝트명</title>
	<!-- <link rel="icon" type="image/png" sizes="192x192" href="/dist/images/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/dist/images/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/dist/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/dist/images/favicon-16x16.png"> -->
	<link rel="stylesheet" href="/dist/css/style.css">
	<!-- <script src="/dist/js/jquery-1.12.4.min.js"></script> -->
	<script src="/dist/js/combined.min.js"></script>
</head>
<body>
	<div id="wrap">
		<!-- header -->
		{{ include("./header.html") | tabIndent(2) }}
		<!-- //header -->

		<div class="container">
			{% filter tabIndent(2) %}
			{% block content %}{% endblock %}
			{%- endfilter %}
		</div>
		
		<!-- footer -->
		{{ include("./footer.html") | tabIndent(2) }}
		<!-- //footer -->
	</div>
</body>
</html>